* {
    box-sizing: border-box;
}

html {
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body {
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-body);
    padding: 20px;
    font-weight: var(--fontWeight-regular);
}

a, a:visited, a:active {
    color: var(--color-text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: block;
    padding: 0px 4px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul a, nav ul a:visited, nav ul a:active {
}