html
{
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body
{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-body);
    padding: 20px;
    font-weight: var(--fontWeight-regular);
}

a, a:visited, a:active {
    color: var(--color-text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header
{
    display: block;
    padding: 0px 4px;
}

tt, code, kbd, samp {
    font-family: 'Roboto Mono', Consolas, Monaco, 'Andale Mono', monospace;
}