/**
 * Text Presets
 */
.text-preset-heading-1 {
    font-size: var(--fontSize-xlarge);
    font-weight: var(--fontWeight-medium);
}

.text-preset-caption {
    font-size: var(--fontSize-medium);
    font-weight: var(--fontWeight-light);
    color: var(--color-text-light);
}

.text-preset-intro {
    font-size: var(--fontSize-medium);
    line-height: 30px;
}