<?js
var self = this;
var isGlobalPage;

docs.forEach(function(doc, i) {
?>
  <?js
    // we only need to check this once
    if (typeof isGlobalPage === 'undefined') {
      isGlobalPage = (doc.kind === 'globalobj');
    }
  ?>
  <?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) {
    //fix for home page
  if(i > 0){
  ?>
  <div class="main__center">
    <div class="main__content">
      <h1 class="text-preset-heading-1">
        <?js= title ?>
      </h1>
      <?js= self.partial('mainpage.tmpl', doc) ?>
    </div>
  </div>
  <?js } } else if (doc.kind === 'source') { ?>
  <div class="main__center">
    <div class="main__content">
      <h1 class="text-preset-heading-1">
        <?js= title ?>
      </h1>
      <?js= self.partial('source.tmpl', doc) ?>
    </div>
  </div>
  <?js } else { ?>
  <div class="main__center">
    <div class="main__content">
      <h1 class="text-preset-heading-1">
        <div class="text-preset-caption"><?js= caption ?></div>
        <?js= title ?>
      </h1>
      <?js= self.partial('main.tmpl', { doc: doc, self: self, isGlobalPage: isGlobalPage }) ?>
    </div>
  </div>
  <div class="main__index">
    <?js= self.partial('toc.tmpl', { doc: doc, self: self, isGlobalPage: isGlobalPage }) ?>
  </div>
  <?js } ?>

<?js }); ?>
