<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><?js= title ?> - <?js= env.opts.mainpagetitle?></title>

  <meta property="og:image" content="https://etc.athom.com/logo/white/256.png" />
  <link rel="icon" href="https://etc.athom.com/logo/transparent/128.png" />
  <link rel="icon" type="image/png" href="https://etc.athom.com/logo/transparent/128.png" />
  <link rel="preload" as="image" href="images/logo.png">
  <link rel="preload" href="styles/homey.min.css" as="style">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="styles/atom-one-light.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="styles/homey.min.css">
</head>

<body>
<div class="container">
  <nav class="navigation container__navigation component">
    <?js= this.nav ?>
  </nav>

  <main id="main" class="main container__main">
    <?js= content ?>
  </main>
</div>

<script src="scripts/ready.js"></script>
<script src="scripts/navigation.js"></script>
<script src="scripts/toc.js"></script>

<link type="text/css" rel="stylesheet" href="styles/atom-one-light.css">
<script src="scripts/highlight/highlight.pack.js"></script>
<script>hljs.highlightAll();</script>
<!--<script src="scripts/linenumber.js"></script>-->

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

</body>
</html>
