<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><?js= title ?> - <?js= env.opts.mainpagetitle ?></title>

  <meta property="og:image" content="https://etc.athom.com/logo/white/256.png"/>
  <link rel="icon" href="https://etc.athom.com/logo/transparent/128.png"/>
  <link rel="icon" type="image/png" href="https://etc.athom.com/logo/transparent/128.png"/>
  <link rel="preload" as="image" href="images/logo.png">
  <link rel="preload" href="styles/homey.min.css" as="style">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="styles/atom-one-light.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap"
    rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="styles/homey.min.css">

  <!-- preload javascript -->
  <link rel="preload" as="script" href="scripts/ready.js">
  <link rel="preload" as="script" href="scripts/navigation.js">
  <link rel="preload" as="script" href="scripts/toc.js">
  <link rel="preload" as="script" href="scripts/table.js">
  <link rel="preload" as="script" href="scripts/hash-link.js">
  <link rel="preload" as="script" href="scripts/docs-nav.js">
  <link rel="preload" as="script" href="scripts/section-highlight.js">
</head>

<body>
<div class="container">
  <div class="container__docs-nav">
    <div class="docs-nav">
      <button data-docs-nav-toggle class="docs-nav__button" title="All documentation"><span
          class="docs-nav__button-icon --mask"></span></button>
      <nav data-docs-nav-menu class="docs-nav__menu component">
        <div class="docs-nav__banner trim">
          <h2>Homey Developers</h2>
        </div>
        <div class="docs-nav__columns">
          <div class="docs-nav__column trim">
            <h3>Homey Apps SDK</h3>
            <ul class="docs-nav__list">
              <li class="docs-nav__item"><a target="_blank" href="https://apps.developer.homey.app/">Documentation</a></li>
              <li class="docs-nav__item"><a target="_blank" href="https://apps-sdk-v3.developer.homey.app/">Reference</a></li>
            </ul>
            <h3>Homey Web API</h3>
            <ul class="docs-nav__list">
              <li class="docs-nav__item"><a target="_blank" href="https://api.developer.homey.app/">Documentation</a></li>
              <li class="docs-nav__item"><a target="_blank" href="https://athombv.github.io/node-homey-api/">Reference</a></li>
            </ul>
            <h3>Tools</h3>
            <ul class="docs-nav__list">
              <li class="docs-nav__item"><a target="_blank" href="https://tools.developer.homey.app/">Developer Tools</a></li>
            </ul>
          </div>
          <div class="docs-nav__column trim">
            <h3>Node.js Modules</h3>
            <ul class="docs-nav__list">
              <li class="docs-nav__item"><a target="_blank" href="https://athombv.github.io/node-homey-zigbeedriver/">Homey
                  ZigbeeDriver</a>
              </li>
              <li class="docs-nav__item"><a target="_blank" href="https://athombv.github.io/node-homey-zwavedriver/">Homey
                  ZWaveDriver</a>
              </li>
              <li class="docs-nav__item"><a target="_blank" href="https://athombv.github.io/node-homey-rfdriver/">Homey RFDriver</a>
              </li>
              <li class="docs-nav__item"><a target="_blank" href="https://athombv.github.io/node-homey-log/">Homey Log</a></li>
              <li class="docs-nav__item"><a target="_blank" href="https://athombv.github.io/node-zigbee-clusters/">Zigbee Clusters</a>
              </li>
              <li class="docs-nav__item"><a target="_blank" href="https://athombv.github.io/node-homey-oauth2app/">Homey OAuth2</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <nav class="navigation container__navigation component">
    <?js= this.nav ?>
  </nav>

  <main id="main" class="main container__main">
    <?js= content ?>
  </main>
</div>

<script src="scripts/ready.js"></script>
<script src="scripts/navigation.js"></script>
<script src="scripts/toc.js"></script>
<script src="scripts/table.js"></script>
<script src="scripts/hash-link.js"></script>
<script src="scripts/docs-nav.js"></script>
<script src="scripts/section-highlight.js"></script>

<link type="text/css" rel="stylesheet" href="styles/atom-one-light.css">
<script src="scripts/highlight.min.js"></script>
<!--<script src="scripts/linenumber.js"></script>-->

<?js if(env.opts.simpleAnalyticsHost){ ?>
<script async defer src="https://<?js= env.opts.simpleAnalyticsHost ?>/latest.js"></script>
<?js }else{ ?>
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""
               referrerpolicy="no-referrer-when-downgrade"/></noscript>
<?js } ?>
</body>
</html>
