<?js
var data = obj;
var self = this;

function isModuleClass(data) {
  if (data.hideconstructor) {
    return '';
  }

  return 'component';
}

/**
 * Is Content not Empty
 * @desc super loaded power function to check if any content is loaded.
 * @param data
 * @returns {boolean}
 */
function isContentNotEmpty(data) {
  if (data.kind !== 'module' && data.description && !data.hideconstructor) {
    return true;
  } else if (data.augments && data.alias && data.alias.indexOf('module:') === 0) {
    return true;
  } else if (kind === 'event' && data.type && data.type.names) {
    return true;
  } else if (data['this']) {
    return true;
  } else if (data.params && params.length && !data.hideconstructor) {
    return true;
  } else if (data.kind !== 'module' && data.requires && data.requires.length) {
    return true;
  } else if (data.fires && fires.length) {
    return true;
  } else if (data.listens && listens.length) {
    return true;
  } else if (data.listeners && listeners.length) {
    return true;
  } else if (data.modifies && modifies.length) {
    return true;
  } else if (data.exceptions && exceptions.length) {
    return true;
  } else if (data.returns && returns.length) {
    return true;
  } else if (data.yields && yields.length) {
    return true;
  } else if (data.examples && examples.length) {
    return true;
  }

  return false;
}
?>
<?js if (data.kind === 'class' && data.classdesc && !data.hideconstructor) { ?>
<h2 id="">Constructor</h2>
<?js } ?>

<section id="<?js= id ?>" class="method trim <?js= isModuleClass(data) ?>">
  <?js if (data.kind !== 'module' && !data.hideconstructor) { ?>

  <?js if (data.kind !== 'namespace') { ?>
  <h3 class="method__name"><?js= name ?></h3>
  <span class="method__function function">
    <?js if (kind === 'class') { ?>
    <?js= data.attribs + 'new' + name + (data.signature || '') ?>
    <?js } else if (kind === 'event') { ?>
    <?js= data.attribs + '.on(\'' + name + '\')' + (data.signature || '') ?>
    <?js } else { ?>
    <?js= data.attribs + name + (data.signature || '') ?>
    <?js } ?>
  </span>
  <?js } ?>

  <?js if (data.summary) { ?>
  <p class="summary"><?js= summary ?></p>
  <?js } ?>
  <?js } ?>

  <?js if (isContentNotEmpty(data)){ ?>
  <div class="method__content trim">
    <?js if (data.kind !== 'module' && data.description && !data.hideconstructor) { ?>
    <div class="method__description">
      <?js= data.description ?>
    </div>
    <?js } ?>

    <?js if (data.augments && data.alias && data.alias.indexOf('module:') === 0) { ?>
    <section class="method__section trim">
      <h4>Extends</h4>
      <?js= self.partial('augments.tmpl', data) ?>
    </section>
    <?js } ?>

    <?js if (kind === 'event' && data.type && data.type.names) { ?>
    <section class="method__section trim">
      <h4>Type</h4>
      <ul>
        <li>
          <?js= self.partial('type.tmpl', data.type.names) ?>
        </li>
      </ul>
    </section>
    <?js } ?>

    <?js if (data['this']) { ?>
    <section class="method__section trim">
      <h4>This</h4>
      <ul>
        <li><?js= this.linkto(data['this'], data['this']) ?></li>
      </ul>
    </section>
    <?js } ?>

    <?js if (data.params && params.length && !data.hideconstructor) { ?>
    <section class="method__section trim">
      <h4>Parameters</h4>
      <?js= this.partial('params.tmpl', params) ?>
    </section>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.kind !== 'module' && data.requires && data.requires.length) { ?>
    <section class="method__section trim">
      <h4>Requires</h4>
      <ul>
        <?js data.requires.forEach(function(r) { ?>
        <li><?js= self.linkto(r) ?></li>
        <?js }); ?>
      </ul>
    </section>
    <?js } ?>

    <?js if (data.fires && fires.length) { ?>
    <section class="method__section trim">
      <h4>Fires</h4>
      <ul>
        <?js fires.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
        <?js }); ?>
      </ul>
    </section>
    <?js } ?>

    <?js if (data.listens && listens.length) { ?>
    <section class="method__section trim">
      <h4>Listens to Events</h4>
      <ul>
        <?js listens.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
        <?js }); ?>
      </ul>
    </section>
    <?js } ?>

    <?js if (data.listeners && listeners.length) { ?>
    <section class="method__section trim">
      <h4>Listeners of This Event</h4>
      <ul>
        <?js listeners.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
        <?js }); ?>
      </ul>
    </section>
    <?js } ?>

    <?js if (data.modifies && modifies.length) { ?>
    <section class="method__section trim">
      <h4>Modifies</h4>
      <?js if (modifies.length > 1) { ?>
      <ul>
        <?js
        modifies.forEach(function(m) { ?>
        <li><?js= self.partial('modifies.tmpl', m) ?></li>
        <?js });
        ?>
      </ul>
      <?js } else {
      modifies.forEach(function(m) { ?>
      <?js= self.partial('modifies.tmpl', m) ?>
    </section>
    <?js });
    } } ?>

    <?js if (data.exceptions && exceptions.length) { ?>
    <section class="method__section trim">
      <h4>Throws</h4>
      <?js if (exceptions.length > 1) { ?>
      <ul>
        <?js
        exceptions.forEach(function(r) { ?>
        <li><?js= self.partial('exceptions.tmpl', r) ?></li>
        <?js });
        ?>
      </ul>
      <?js } else {
      exceptions.forEach(function(r) { ?>
      <?js= self.partial('exceptions.tmpl', r) ?>
    </section>
    <?js });
    } } ?>

    <?js if (data.returns && returns.length) { ?>
    <section class="method__section trim">
      <h4>Returns</h4>
      <?js if (returns.length > 1) { ?>
      <ul>
        <?js
        returns.forEach(function(r) { ?>
        <li><?js= self.partial('returns.tmpl', r) ?></li>
        <?js });
        ?>
      </ul>
      <?js } else {
      returns.forEach(function(r) { ?>
      <?js= self.partial('returns.tmpl', r) ?>
    </section>
    <?js });
    } } ?>

    <?js if (data.yields && yields.length) { ?>
    <section class="method__section trim">
      <h4>Yields</h4>
      <?js if (yields.length > 1) { ?>
      <ul>
        <?js
        yields.forEach(function(r) { ?>
        <li><?js= self.partial('returns.tmpl', r) ?></li>
        <?js });
        ?>
      </ul>
      <?js } else {
      yields.forEach(function(r) { ?>
      <?js= self.partial('returns.tmpl', r) ?>
    </section>
    <?js });
    } } ?>

    <?js if (data.examples && examples.length) { ?>
    <section class="method__section trim">
      <h4>Example<?js= examples.length > 1 ? 's' : '' ?></h4>
      <?js= this.partial('examples.tmpl', examples) ?>
    </section>
    <?js } ?>
  </div>
  <?js } ?>

</section>