<?js
var data = obj;
var props = data.subprops || data.properties;

/* sort subprops under their parent props (like opts.classname) */
var parentProp = null;
props.forEach(function (prop, i) {
  if (!prop) {
    return;
  }
  if (parentProp && prop.name && prop.name.indexOf(parentProp.name + '.') === 0) {
    prop.name = prop.name.substr(parentProp.name.length + 1);
    parentProp.subprops = parentProp.subprops || [];
    parentProp.subprops.push(prop);
    props[i] = null;
  } else {
    parentProp = prop;
  }
});

/* determine if we need extra columns, "attributes" and "default" */
props.hasAttributes = false;
props.hasDefault = false;
props.hasName = false;

props.forEach(function (prop) {
  if (!prop) {
    return;
  }

  if (prop.optional || prop.nullable) {
    props.hasAttributes = true;
  }

  if (prop.name) {
    props.hasName = true;
  }

  if (typeof prop.defaultvalue !== 'undefined' && !data.isEnum) {
    props.hasDefault = true;
  }
});

if (typeof lvl === "undefined") {
  var lvl = 0;
}

if (typeof prevIndex === "undefined") {
  var prevIndex = 0
}
?>
<?js if(lvl === 0){ ?>
<figure class="table-container trim">
  <table data-table class="properties">
    <thead>
    <tr>
      <?js if (props.hasName) { ?>
      <th>Name</th>
      <?js } ?>

      <th>Type</th>

      <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>
    <?js } ?>
    <?js
    var self = this;
    props.forEach(function(prop, index) {
      if (!prop) {
        return;
      }
      var collapsable = prop.subprops ? `data-table-collapsed=true` : ``;
      var currentIndex = `${prevIndex}-${index}`;
    ?>

    <tr data-table-lvl="<?js= lvl ? lvl : 0 ?>" data-table-row-id="<?js= currentIndex ?>"
        data-table-row-parent="<?js= prevIndex ?>" <?js= collapsable ?>>
      <?js if (props.hasName) { ?>
      <td class="name position-relative">
        <?js if (prop.subprops) { ?>
        <div class="lvl lvl--group">
          <?js
          for(let i = 0; i < lvl + 1; i++){
          ?>
          <div class="lvl__indent"></div>
          <?js
          }
          ?>
        </div>
        <code><?js= prop.name ?></code>
        <?js }else{ ?>
        <div class="lvl">
          <?js
          for(let i = 0; i < lvl; i++){
          ?>
          <div class="lvl__indent"></div>
          <?js
          }
          ?>
        </div>
        <code><?js= prop.name ?></code>
        <?js } ?>
      </td>
      <?js } ?>

      <td class="type">
        <?js if (prop.type && prop.type.names) { ?>
        <?js= self.partial('type.tmpl', prop.type.names) ?>
        <?js } ?>

        <?js if (props.hasAttributes) { ?>
        <?js if (prop.optional) { ?>
        <span class="color-text-light">&lt;optional></span>
        <?js } ?>

        <?js if (prop.nullable) { ?>
        <span class="color-text-light">&lt;nullable></span>>
        <?js } ?>
        <?js } ?>

        <?js if (props.hasDefault) { ?>
        <?js if (typeof prop.defaultvalue !== 'undefined') { ?>
        default: <code><?js= self.htmlsafe(prop.defaultvalue) ?></code>
        <?js } ?>
        <?js } ?>
      </td>


      <td class="description trim last"><?js= prop.description ?></td>
    </tr>
    <?js if (prop.subprops) { ?>
    <?js= self.partial('properties.tmpl', {
      subprops: prop.subprops,
      prevIndex: currentIndex,
      lvl: lvl ? lvl + 1 : 1
    }) ?>
    <tr data-table-lvl="<?js= lvl ?>" data-table-row-parent="<?js= currentIndex ?>" data-table-row-is-shown="false">
      <td class="name">
        <div class="lvl">
          <?js
          for(let i = 0; i < lvl ; i++){
          ?>
          <div class="lvl__indent"></div>
          <?js
          }
          ?>
        </div>
        <span class="font-weight-bold">}</span>
      </td>
    </tr>
    <?js } ?>
    <?js }); ?>
    <?js if(lvl === 0){ ?>
    </tbody>
  </table>
</figure>
<?js } ?>
