<?js
var data = obj || {};
if (data.description) {
?>
  <?js= description ?>
<?js } ?>
<?js if (data.type && data.type.names) { ?>
<div class="text-preset-small">
  <?js= this.partial('type.tmpl', data.type.names) ?>
</div>
<?js } ?>