<?js
var self = this;
var isGlobalPage;
?>
<nav class="toc trim">
  <h4>Table of Contents</h4>

  <ul class="toc__list">
    <li class="toc__item"><a class="toc__link" href="#introduction">Introduction</a></li>
    <?js
    var members = self.find({ kind: 'member', memberof: isGlobalPage ? { isUndefined: true } : doc.longname });
    if (members && members.length && members.forEach) {
    ?>
    <li class="toc__item">
      <a class="toc__link" href="#section-members">Properties</a>
    </li>
    <ul class="toc__list toc__list--lvl2">
      <?js members.forEach(function(m) { ?>
      <li class="toc__item">
        <a class="toc__link" href="#<?js= m.name ?>"><?js= m.name ?></a>
      </li>
      <?js }); ?>
    </ul>
    <?js } ?>
    <?js
    var methods = self.find({ kind: 'function', memberof: isGlobalPage ? { isUndefined: true } : doc.longname });
    if (methods && methods.length && methods.forEach) {
    ?>
    <li class="toc__item">
      <a class="toc__link" href="#section-methods">Methods</a>
    </li>
    <ul class="toc__list toc__list--lvl2">
      <?js methods.forEach(function(m) { ?>
      <li class="toc__item">
        <a class="toc__link" href="#<?js= m.name ?>"><?js= m.name ?></a>
      </li>
      <?js }); ?>
    </ul>
    <?js } ?>
    <?js
    var events = self.find({ kind: 'event', memberof: isGlobalPage ? { isUndefined: true } : doc.longname });
    if (events && events.length && events.forEach) {
    ?>
    <li class="toc__item">
      <a class="toc__link" href="#section-events">Events</a>
    </li>
    <ul class="toc__list toc__list--lvl2">
      <?js events.forEach(function(e) { ?>
      <li class="toc__item">
        <a class="toc__link" href="#event:<?js= e.name ?>"><?js= e.name ?></a>
      </li>
      <?js }); ?>
    </ul>
    <?js } ?>
  </ul>

</nav>