.main {
    display: flex;
    justify-content: center;
    padding: var(--main-padding, 10px);
}

.main__content {
    width: 100%;
    max-width: 900px;
}


@media only screen and (min-width: 768px) {
    :root{
        --main-padding: 0;
    }
}
