.navigation {
    min-width: 340px;
    max-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20px;
}

.navigation__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.navigation__logo {
    margin-right: 10px;
}

.navigation__title {
    font-size: 1.5rem;
    color: var(--color-text);
    font-weight: var(--fontWeight-medium);
    margin: 0;
}

.navigation__title a {
    color: inherit;
}

.navigation__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
}